*{
    margin: 0;
    padding: o;
    box-sizing:border-box;
  
    
}
body center h1{
    color: rgb(14, 14, 14);
    background-color: rgb(11, 237, 75);
}
body form button a{
    text-decoration: none;
}


footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: auto;
    width: auto;
    color: white;
    
 }
 
 body {  background-color: rgb(245, 251, 130) ;
    
 }
 